<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.order.mapper.OrderMapper">

	<resultMap type="Order" id="orderRM">
		<id property="orderId" column="order_id" />
		<!-- 查询子表的顺序有要求，先写1对1，再写1对多 -->
		<association property="orderShipping" javaType="OrderShipping"
			column="order_id" select="queryShippingByOrderId" autoMapping="true"></association>
		<!-- 1对多 -->
		<collection property="orderItems" javaType="ArrayList"
			ofType="OrderItem" column="order_id" select="queryItemListByOrderId"
			autoMapping="true"></collection>
	</resultMap>
	<select id="queryByOrderId" parameterType="String" resultMap="orderRM">
		select * from tb_order where order_id=#{orderId}
	</select>
	<select id="queryItemListByOrderId" parameterType="String"
		resultType="OrderItem">
		select * from tb_order_item where order_id=#{orderId}
	</select>
	<select id="queryShippingByOrderId" parameterType="String"
		resultType="OrderShipping">
		select * from tb_order_shipping where order_id=#{orderId}
	</select>

	<insert id="orderCreated" parameterType="Order">
		insert into tb_order
		(order_id,payment,payment_type,post_fee,status,payment_time,consign_time,end_time,close_time,shipping_name,shipping_code,user_id,buyer_message,buyer_nick,buyer_rate,created,updated)
		values
		(#{orderId},#{payment},#{paymentType},#{postFee},#{status},#{paymentTime},#{consignTime},#{endTime},#{closeTime},#{shippingName},#{shippingCode},#{userId},#{buyerMessage},#{buyerNick},#{buyerRate},#{created},#{updated});

		insert into tb_order_item
		(item_id,order_id,num,title,price,total_fee,pic_path)
		values
		<foreach collection="orderItems" item="item" separator=",">
			(#{item.itemId},#{orderId},#{item.num},#{item.title},#{item.price},#{item.totalFee},#{item.picPath})
		</foreach>
		;

		insert into tb_order_shipping
		(order_id,receiver_name,receiver_phone,receiver_mobile,receiver_state,receiver_city,receiver_district,receiver_address,receiver_zip,created,updated)
		values
		(#{orderId},#{orderShipping.receiverName},#{orderShipping.receiverPhone},#{orderShipping.receiverMobile},#{orderShipping.receiverState},#{orderShipping.receiverCity},#{orderShipping.receiverDistrict},#{orderShipping.receiverAddress},#{orderShipping.receiverZip},#{orderShipping.created},#{orderShipping.updated});

	</insert>

	<update id="paymentOrderScan" parameterType="date">
		update tb_order set status=6,updated=NOW(),close_time=NOW(),end_time=NOW()
		where status=1 and payment_type=1 and created &lt;=#{date};
	</update>

</mapper>